In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
test_result = pd.DataFrame()
files = os.listdir()
for file in files:
    if file.endswith(".csv"):
        csv = pd.read_csv(file,encoding = "utf-8-sig")
        test_result = test_result.append(csv, ignore_index=True)

In [3]:
print(len(test_result))

1716936

In [4]:
test_result.head()

   Unnamed: 0     author  pred
0           0  WarPigs02     0
1           1  WarPigs02     1
2           2  WarPigs02     0
3           3  WarPigs02     1
4           4  WarPigs02     0

In [5]:
test_result=test_result.drop(columns=['Unnamed: 0'])

In [6]:
test_result.head()

      author  pred
0  WarPigs02     0
1  WarPigs02     1
2  WarPigs02     0
3  WarPigs02     1
4  WarPigs02     0

In [7]:
test_dict = dict()

In [8]:
for i in range(len(test_result)):
    author = test_result.iloc[i][0]
    if author not in test_dict:
        test_dict[author] = [0,0]
    arr = test_dict[author]
    arr[1]+=1
    pred = test_result.iloc[i][1]
    if pred==1:
        arr[0]+=1
    test_dict[author]=arr

In [9]:
print(len(test_dict))

31878

In [10]:
count = 0
for author in test_dict.keys():
    arr = test_dict[author]
    if arr[0]==0:
        count+=1
print(count)

1978

In [11]:
percentage = []
for author in test_dict.keys():
    arr = test_dict[author]
    per = (arr[0]*100)/arr[1]
    percentage.append(per)

In [12]:
per_arr = [0]*10;
for i in percentage:
    x = int(i/10)
    for i in range(x,10):
        per_arr[i]+=1

In [13]:
per_arr

[3569, 8697, 15136, 19461, 22601, 25635, 27727, 29252, 30495, 30892]